.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  .login-form {
    width: 450px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .login-form h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
  }
  
  .signup-link {
    color: #5e48d8;
    cursor: pointer;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .forgot-link {
    margin: 10px 0;
    color: #5e48d8;
    cursor: pointer;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px 0;
    background-color: #5e48d8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.login-container {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 80%;
    max-height: 100%;
}


  